@model Contentstack.Core.Models.Entry

@{
    ViewData["Title"] = Model.Title;

    Contentstack.Core.ContentstackClient client = 
        (Contentstack.Core.ContentstackClient)ViewData[typeof(Contentstack.Core.ContentstackClient).ToString()];
}

<h1 align="center">@client.ToString()</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
